.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: #fff;
  padding: .5em;
}
.tooltip-wrap:hover .tooltip-content {
  display: block;
}

/* for calendar chart */
.fuel-calendar {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.calendar-chart-day {
  fill: #fff;
  stroke: #ccc;
}

.calendar-chart-month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}
.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}

/* for guage chart */
#drowsiness-guage {
	font-family:  Helvetica, Arial, sans-serif;
	margin: 32px;
}

#drowsiness-gauge g.arc {
	fill: steelblue;
}

#drowsiness-gauge g.pointer {
	fill: #e85116;
	stroke: #b64011;
}

#drowsiness-gauge g.label text {
	text-anchor: middle;
	font-size: 14px;
	font-weight: bold;
	fill: #666;
}

/* for speed gauge chart */
/* for guage chart */
#speed-guage {
	font-family:  Helvetica, Arial, sans-serif;
	margin: 32px;
}

#speed-gauge g.arc {
	fill: steelblue;
}

#speed-gauge g.pointer {
	fill: #e85116;
	stroke: #b64011;
}

#speed-gauge g.label text {
	text-anchor: middle;
	font-size: 14px;
	font-weight: bold;
	fill: #666;
}

/* for hour gauge chart */
/* for guage chart */
#hour-guage {
	font-family:  Helvetica, Arial, sans-serif;
	margin: 32px;
}

#hour-gauge g.arc {
	fill: steelblue;
}

#hour-gauge g.pointer {
	fill: #e85116;
	stroke: #b64011;
}

#hour-gauge g.label text {
	text-anchor: middle;
	font-size: 14px;
	font-weight: bold;
	fill: #666;
}

/* ring charts */

#holder{
	overflow:hidden;
}
.concentric{
	float:left;
}

.concentricchart path {
	stroke: #cccccc;
	stroke-width: 1px;
	opacity:0.8;
}

.concentricchart text{
	font-size:12px;    
}

.legend_group circle{
	stroke: #cccccc;
	stroke-width: 1px;
	opacity:0.8;
}